{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget %}
	{{ parent() }}
	{% if context.customer %}
		<template data-stock-check>
			<h3>Available Stock</h3>
			<!-- An empty list ready for Stock Items to be injected -->
			<ul class="product-stock__list">
				<!-- stock items will be rendered via JavaScript here! -->
				<li class="product-stock__item"></li>
			</ul>
		</template>
	{% endif %}
{% endblock %}